@import "tailwindcss";

html,
body,
#root {
    min-height: 100%;
    overflow-x: clip;
}

body {
    background-color: black;
    margin: 0;
    width: 100%;
    color: #fafafa;
    font-family:
        "Inter Tight",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

button,
input,
select,
textarea {
    font: inherit;
}


.logo {
    font-family: "Unbounded", sans-serif;
}

.mono {
    font-family: "Geist Mono", monospace;
}
